<!doctype html>
<html lang="en">
<head>
    <% include ../head %>
</head>
<body>
    <% include ../header %>
    <main class="container">
        <%- body -%>
    </main>
    <% include ../footer %>
</body>
