.card-header__value {
    position: absolute;
    right:10px;
    top:10px;

    &--active {
        color:$color-green;
    }
    &--inactive {
        color:$color-red;
    }
}

.card-header__name {
    font-size: 1rem;
}

.card-header__value-type {
    display: inline-block;
}
