// TO BE MOVED TO MIXINS FILE:
$phone: '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5),
                    (-o-min-device-pixel-ratio: 3/2),
                    (-webkit-min-device-pixel-ratio: 1.5),
                    (min-device-pixel-ratio: 1.5),
                    (min-resolution: 144dpi),
                    (min-resolution: 1.5dppx)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}
//

.card-columns {
    column-count: 3;

    @include respond-to($tablet-portrait) {
        margin:0 20px;
        column-count: 2;
    }

    @include respond-to($phone) {
        margin:0 20px;
        column-count: 1;
    }
}

.card {
    &-header {
        position: relative;
    }

    &-header__value {
        position: absolute;
        right:10px;
        top:10px;

        &--active {
            color:$color-green;
        }
        &--inactive {
            color:$color-red;
        }

        &-type {
            display: inline-block;

            a {
                color:#fff;
            }
        }
    }

    &-header__name {
        font-size: 1rem;
    }

    &-header__info {
        float:right;
        color:#000;

        i {
            cursor: pointer;
        }

        .tooltip.in {
            opacity: 1;
        }
    }

    &-footer {
        padding: 0.2rem 1.25rem;
        text-transform: uppercase;

        small {
            font-size: 11px;
        }
    }
}
