<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/"><% if (clientName != null) { %><%= clientName %><% } %></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/client/parameters">Parameters</a>
                    </li>
                </ul>
            </div>
            <div class="justify-content-end header-form">
                <form method="post" action="/client/set-context">
                    <select class="form-control" id="clientId" name="clientId">
                        <% for(var i=0;i < clients.length; i++) { %>
                            <option value="<%= clients[i].id %>"><%= clients[i].name %></option>
                        <% } %>
                    </select>
                    <button class="form-control btn btn-light">Set client</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<header class="sub-header sticky-header">
    <nav class="navbar navbar-light">
        <div class="container">
            <div class="sub-header__version">
                <small>FCP <%= clientVersion %></small>
            </div>
            <div class="justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <button type="button" class="btn btn-success btn-sm">Export</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
