body > .container {
  padding: 1rem 0; }

.card-columns {
  column-count: 3; }

.card-header__value {
  position: absolute;
  right: 10px;
  top: 10px; }
  .card-header__value--active {
    color: #28a745; }
  .card-header__value--inactive {
    color: #dc3545; }
  .card-header__value-type {
    display: inline-block; }

.card-header__name {
  font-size: 1rem; }

.card-footer {
  padding: 0.2rem 1.25rem;
  text-transform: uppercase; }

.navbar-brand small {
  display: block;
  font-size: 14px; }

.sub-header .navbar {
  background: #e3f2fd; }

.sub-header__version {
  line-height: 2; }
  .sub-header__version small {
    position: relative; }

.sub-header__status {
  position: absolute;
  top: -3px;
  right: -22px;
  font-size: 19px; }
  .sub-header__status--success {
    color: #28a745; }
  .sub-header__status--failed {
    color: #dc3545; }

.header-form .form-control {
  width: auto;
  display: inline-block; }

.sticky-header.stuck {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

main.header-stuck {
  padding-top: 61px; }

