body > .container {
  padding: 1rem 0; }

.navbar-brand small {
  display: block;
  font-size: 14px; }

.sub-header .navbar {
  background: #e3f2fd; }

.header-form .form-control {
  width: auto;
  display: inline-block; }

.card-header__value {
  position: absolute;
  right: 10px;
  top: 10px; }
  .card-header__value--active {
    color: #28a745; }
  .card-header__value--inactive {
    color: #dc3545; }

.sticky-header.stuck {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

main.header-stuck {
  padding-top: 60px; }

