<% layout('../layouts/main') -%>

<div class="row">
    <% for(var i=0;i < parameters.length; i++) { %>
        <div class="col-sm-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <%= parameters[i].name %>
                    <% if (parameters[i].value) { %>
                        <i class="card-header__value card-header__value--active material-icons">done</i>
                    <% } else { %>
                        <i class="card-header__value card-header__value--inactive material-icons">close</i>
                    <% } %>
                </div>
                <div class="card-body text-secondary">
                    <h4 class="card-title"><%= parameters[i].value %></h4>
                    <p class="card-text"><%= parameters[i].description %></p>
                </div>
            </div>
        </div>
    <% } %>
</div>
