@import 'variables.scss';

body {
    > .container {
        padding:1rem 0;
    }
}

.navbar-brand {
    small {
        display: block;
        font-size: 14px;
    }
}

.sub-header {
    .navbar {
        background:$color-light-blue;
    }
}

.header-form {
    .form-control {
        width:auto;
        display:inline-block;
    }
}

.card-header__value {
    position: absolute;
    right:10px;
    top:10px;

    &--active {
        color:$color-green;
    }
    &--inactive {
        color:$color-red;
    }
}
